.Main-Cart-Product{
    display: flex;
}

.shopping-cart {
    width: 900px;
    height: fit-content;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.title-cart {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item-product-cart {
    padding: 20px 30px;
    display: flex;
}
    .item-product-cart > * {
        margin: 0px 12px;
    }

    .item-product-cart:nth-child(3) {
        border-top: 1px solid #E1E8EE;
        border-bottom: 1px solid #E1E8EE;
    }

.buttons-for-item-cart {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.delete-btn,
.like-btn {
    display: inline-block;
    Cursor: pointer;
}

.delete-btn {
    width: 18px;
    height: 17px;
    background: url('../SVG/delete-icn.svg') no-repeat center;
}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('../SVG/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}
.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}
.image-item-cart {
    min-width: 60px;
    margin-right: 50px;
}


.description-item {
    padding-top: 10px;
    margin-right: 60px;
    width: 221px;
}

.description-item span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

    .description-item span:first-child {
        margin-bottom: 5px;
    }

    .description-item span:last-child {
        font-weight: 300;
        margin-top: 8px;
        color: #869
    }
.quantity-of-item {
    padding-top: 20px;
    margin-right: 60px;
}

    .quantity-of-item input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
    }

.item-product-cart button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

.item-product-cart button:focus,
input:focus {
    outline: 0;
}
.total-price-item {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .item-product-cart {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image-item-cart img {
        width: 50%;
    }

    .image-item-cart,
    .quantity-of-item,
    .description-item {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons-for-item-cart {
        margin-right: 20px;
    }
}
.panel-payment {
    text-align: center !important;
    width: 320px;
    margin: 12px;
}
.address-for-deliver {
    margin: 80px auto 20px auto;
    height: 180px;
    border: 0.21rem solid #d1d1d1;
    border-radius: 18px;
    position: relative;
}
.address-for-deliver h2{
    position: absolute;
    left: 9px;
    top: 9px;
}
.address-for-deliver .change-address{
    position: absolute;
    right: 9px;
    top: 9px;
}
.address-for-deliver p{

    font-weight: 700;
    font-size:1.4rem;
    position: absolute;
    top: 40px;
    left: 24px;
}
    .address-for-deliver .address-content {
        font-size: 1.2rem;
        position: absolute;
        bottom: 18px;
        resize: none;
        padding: 9px;
        width: 95%;
        outline: none;
        border: none;
        left: 2.5%;
    }
.code-promotion {
    display: block;
    border: 0.21rem solid #d1d1d1;
    background-color: #bde8ee;
    padding: 9px;
}
.input-promotion{
    padding: 6px;
    width: 180px;
    float: left;

}
.apply-code-promotion {
    font-size: 1.2rem;
    padding: 4px 12px;
    margin: 0 12px;
    color: white;
}
.label-provisional-price {
    text-align: center;
    margin: 24px auto;
    border: 0.21rem solid #d1d1d1;
    border-radius: 18px;
    padding: 9px;
}
.label-provisional-price p{
    padding: 6px;
    display: inline;
    font-size: 1.6rem;
}
.panel-payment .btn-payment {
    margin: 42px !important;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center !important;
    padding: 14px;
    width: 240px !important;
}