.Form-CheckOut {
   
    display: flex;
}
.form-product-checkout {
    width: 102rem;
}
.list-product-checkout {
    
    margin: 1.2rem;
    border-radius: 12px;
    border: 2.1px solid #d1d1d1;
}

/*.list-product-checkout>{

}*/
.product-checkout {
    display:flex;
    position: relative;
    padding: 1.2rem;
    margin: 0.6rem;
}
.price-of-product-checkout {
    width:fit-content;
    position: absolute;
    bottom: 9px;
    right: 12px;
    font-weight: 600;
    font-size: 1.4rem;
}
.product-checkout img{
    margin:0px 9px;
    width: 9rem;
    float: left;
    border-radius: 12px;
}
.abosolute-quantity {
    position: absolute;
    left: 120px;
    bottom: 12px;
}
.product-checkout .title-product-checkout{
    width: 72%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 1.4rem;

}
.options-payment {
    text-align:left;
    position: relative;
    margin: 1.2rem;
    border-radius: 12px;
    border: 2.1px solid #d1d1d1;
}
.options-payment>*{
    margin: 12px;
}
.options-payment label{
    font-weight: 500;
    font-size: 1.4rem;
}
.payment-checkout{
    flex-grow: 1;
    
}
.price-checkout {
    width: 70%;
    text-align: center;
    margin: 24px auto;
    border: 0.21rem solid #d1d1d1;
    border-radius: 18px;
    padding: 9px;
}
.price-checkout p{
    padding: 6px;
    display: inline;
    font-size: 1.6rem;
}
.payment-button {
    margin: 12px auto !important;
    width: 50%;
    /* text-align: center !important; */
    font-size: 1.4rem !important;
    text-decoration: none;
}
.payment-button:hover{
    color:blueviolet;
}
.custom-address-for-deliver{
    width: 70%;
}