.Detail-Product{
    display: flex;
}
.main-detail {
    background: white;
    flex-grow: 27;
}
.main-detail-product {
    display: flex;
}
.img-and-information-product{
   width: 360px;
}
.img-and-information-product>*{
    display: block;
    padding: 3px;
   font-size: 1.27rem;
    margin: 9px 12px 6px 12px;
    margin-left: auto;
    margin-right: auto;
}
.img-detail-product{
    border-radius: 9px;
    max-width: 320px;
}
.information-detail-product {
    border-radius: 6px;
    border: 0.21rem solid #d1d1d1;
    width: 320px;
    min-height: 180px;
}
#button-link-to-post{
    width: 120px;
    height: 30px;
}
.name-and-reviews-product{
    flex-grow: 4;
}
.name-detail-product {
    margin-top: 12px;
    padding: 8px;
    font-size: 2.4rem;
    font-weight: 800;
    border: 2.7px solid #d1d1d1;
    min-height: 90px;
    max-width: 750px;
}
.reviews-detail-product{
    display: flex;
}
.reviews-detail-product>*{
    font-weight: 500;
    font-size: 1.2rem;
}
.reviews-detail-product span{
    font-weight: 600;
}
.reviews-detail-product>*{
    padding: 9px;
    font-size: 1.2rem;
}
.review-star{
    color: var(--yellow-color-1);
}
.price-detail-product {
    position: relative;
    margin-top: 12px;
    padding: 8px;
    font-size: 2.4rem;
    font-weight: 800;
    border: 2.7px solid #d1d1d1;
    min-height: 90px;
    max-width: 750px;
}
.price-detail-product>h1{
    margin: 12px;
    letter-spacing: 2px;
}
.price-detail-product>a{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-weight: 700;
    color: red;
    font-size: 3.6rem;
}
.tax-and-guarantee-product>button{
    margin: 12px;
    font-size:1.1rem;
    font-weight: 600;

}
.options-buy-product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    font-size: 2.4rem;
    align-items:stretch;
    /* border: 2.7px solid #d1d1d1;*/
   
    max-width: 750px;
}
.options-buy-product>*{
    text-align: center !important;
    font-size: 1.2rem !important;
    font-weight: 600;
    height: 45px !important;
    letter-spacing:0.12rem;
    padding: 9px !important;
    width: 180px;
   /* margin: 16px;*/
    text-decoration: none;
}
.options-buy-product>*:hover{
    color: black;
}
.policy-product {
    height: fit-content;
    font-size: 1.1rem;
    margin: 12px 9px 0px 9px;
    width: 180px;
    border-radius: 6px;
    border: 2.1px solid #d1d1d1;
}
.policy-product > * {
        padding: 2px 12px;
}
.comment-of-product {
    height: fit-content;
    max-width: 90%;
    border: 2.7px solid #d1d1d1;
}
.fillter-comment{
    display:flex;
    align-items: start;
}
.fillter-comment>*{
    padding: 6px !important;
    text-decoration: none;
    margin: 14px !important;
}
.fillter-comment span{
    font-weight: 600;
}
.options-comment{
    margin:12px;
    display: flex;
}
.options-comment>*{
    margin-right: 12px;
}
.reviews-comment {
    min-width:180px;
    border: 2.7px solid #d1d1d1;
}
.reviews-comment>*{
    margin: 6px;
}
.sum-of-star-comment{
    font-size: 2.1rem;
    color: var(--yellow-color-1);
}
.reviews-comment h1{
    float: left;
}
.reviews-comment h3 {
    
    color: #f38020;
}
/*popup*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 20% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup img{
        margin-right: 9px;
        float:left;
        border-radius: 3px;
        max-width: 60px;
    }
    .popup h4 {
       
        width: 450px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
        margin-top: 0;
        color: #333;
    }

    .popup .close {
        position: absolute;
        top: -12px;
        right: 6px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
      
    }

@media screen and (max-width: 700px) {
    

    .popup {
        width: 70%;
    }
}
.content>*{
    text-align: center;
}
.star-rating{
    color: var(--yellow-color-1);
    font-size:2.7rem;
    padding: 2px;
}
.img-and-letter-comment textarea {
    margin-bottom: 12px;
    padding: 12px;
    padding-left: 70px;
    font-size: 1.4rem;
    text-align: left;
    resize: none;
    width: 100%;
}
.img-and-letter-comment{
    width: 100%;
    height: fit-content;
    position: relative;
}
.img-and-letter-comment img{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 3px;
    left: 6px;
}
/*button upload image*/
.file-upload {
    height: 45px;
    width: 45px;
    border-radius: 9px;
    position: absolute;
    top: 63px;
    left: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #ffffff;
    font-size: 20px;
}

.file-upload input[type=file] {
   /* height: 200px;*/
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload:hover {
    background-position: 0 -100%;
    color: #2590eb;
}