.Detail-Product{
    display: flex;
}
.main-detail {
    flex-grow: 27;
}
.main-detail-product {
    display: flex;
}
.img-and-information-product{
   width: 360px;
}
.img-and-information-product>*{
    display: block;
    padding: 3px;
    font-size: 1.2rem;
    margin: 9px 12px 6px 12px;
    margin-left: auto;
    margin-right: auto;
}
.img-detail-product{
    border-radius: 9px;
    max-width: 320px;
}
.information-detail-product {
    border-radius: 6px;
    border: 0.21rem solid #d1d1d1;
    width: 320px;
    min-height: 180px;
}
#button-link-to-post{
    width: 120px;
    height: 30px;
}
.name-and-reviews-product{
    flex-grow: 4;
}
.name-detail-product {
    margin-top: 12px;
    padding: 8px;
    font-size: 2.4rem;
    font-weight: 800;
    border: 2.7px solid #d1d1d1;
    min-height: 90px;
    max-width: 750px;
}
.reviews-detail-product{
    display: flex;
}
.reviews-detail-product>*{
    font-weight: 500;
    font-size: 1.2rem;
}
.reviews-detail-product span{
    font-weight: 600;
}
.reviews-detail-product>*{
    padding: 9px;
    font-size: 1.2rem;
}
.review-star{
    color: var(--yellow-color-1);
}
.price-detail-product {
    position: relative;
    margin-top: 12px;
    padding: 8px;
    font-size: 2.4rem;
    font-weight: 800;
    border: 2.7px solid #d1d1d1;
    min-height: 90px;
    max-width: 750px;
}
.price-detail-product>h1{
    margin: 12px;
    letter-spacing: 2px;
}
.price-detail-product>a{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-weight: 700;
    color: red;
    font-size: 3.6rem;
}
.tax-and-guarantee-product>button{
    margin: 12px;
    font-size:1.1rem;
    font-weight: 600;

}
.options-buy-product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    font-size: 2.4rem;
    align-items:stretch;
    /* border: 2.7px solid #d1d1d1;*/
   
    max-width: 750px;
}
.options-buy-product>*{
    text-align: center !important;
    font-size: 1.2rem !important;
    font-weight: 600;
    height: 45px !important;
    letter-spacing:0.12rem;
    padding: 9px !important;
    width: 180px;
   /* margin: 16px;*/
    text-decoration: none;
}
.options-buy-product>*:hover{
    color: black;
}
.policy-product {
    height: fit-content;
    font-size: 1.1rem;
    margin: 12px 9px 0px 9px;
    width: 180px;
    border-radius: 6px;
    border: 2.1px solid #d1d1d1;
}
.policy-product > * {
        padding: 2px 12px;
}

