header {
    display: flex;
    justify-content: center;
    align-items:center;
   padding: 9px 12px 6px 12px;
   
    height: 110px;
    margin: 12px 20% 12px 20%;
   
}
.header-user > *{
    margin: 0.3rem;
    padding: 0.9rem 0.3rem;
}
.header-helper > * {
    margin: 0.3rem;
    
}
header img {
    margin-right: 72px;
    height: 90px;
    border-radius: 5px;
}
.btheader{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.header-user {
    position: relative;
    margin-left: 45px;
}
.header-helper {
    font-size: 1.2rem;
    align-self: flex-end;
}
.menu-user-dropdown {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: -180px;
    right: 80px;
    z-index: 2;
    background: white;
    text-align: center;
    opacity: 0.95;
    border-radius: 9px;
}
.menu-user-dropdown>*{
    min-width: 140px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 6px 12px 0px 12px;
    padding: 6px;
}
.header-user img{
    width: 45px;
    height: 54px;
    border-radius: 50%;
}
.header-user .user{
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.option-user {
   
    width: 2.7rem;
    height: 2.7rem;
}
.cart{
    cursor: pointer;
    text-decoration:none;
    font-size: 2.7rem;
    color: var(--green-color-2);
}
.bell {
    cursor: pointer;
    text-decoration:none;
    font-size: 2.7rem;
    color: var(--yellow-color-1);
}
hr.style-hr {
    margin: 0;
    border: 0;
    height: 2.1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.vertical-line{
    border-right: 1px solid black;
}
