@import url(https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css);
.Product-Advertisement {
    position:relative;
    padding: 12px;
}

.gallery {
    border-radius: 12px;
    /*background: #EEE;*/
}

.gallery-cell {
    min-height: 320px;
    justify-content: space-evenly;
    display: flex;
    border-radius: 12px;
    width: 100%;
    height: fit-content;
    margin-right: 10px;
    border: 2.1px solid #a6c7cc;
    /*counter-increment: gallery-cell;*/
}
.box-product {
    width: 240px;
    height: 270px;
    margin: 21px 0px 12px 0px;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 12px;
    border: 2px solid #d1d1d1;
}
.detail-box-product{
    position: relative;
    margin-top: 3px;
    text-align: center;
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

    .detail-box-product > * {
        padding: 6px;
    }
    .image-product-small{
    min-height:112px;
    width: 150px;
    height: auto;
}
.name-product-small {
    font-size: 1.2rem;
    font-weight: 500;
    text-overflow: ellipsis;
    width: inherit;
    height: 63px;
}
.price-product-small{
    font-size: 1.4rem;
    font-weight: 600;
}
.price-product-small::after{
    content:" VNĐ"
}
.like-product-small {
    cursor: pointer;
    color: red;
    font-size: 2.7rem;
    position: absolute;
    bottom: -6px;
    right: 3px;
}

    /* cell number */
    /*.gallery-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
    }*/
    /*override*/
.flickity-page-dots {
    
    bottom: 3px;
}
.link-category {
    position: absolute;
   
    top: 18px;
    z-index: 2;
    left: 16px;
    text-decoration: none;
}

.button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 9px;/*dieu chinh*/
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 110px;/*dieu chinh*/
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}


.button-29 {
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: auto;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;/**/
    margin-top: 21px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}