@import url("main.css");
@import url("header.css");
@import url("footer.css");
@import url("nav.css");
@import url("HomePage.css");
@import url("ProductList.css");
@import url("DetailProduct.css");
@import url("LamThu.css");
:root {
    /*Purple color*/
    --purple-color-1: #f6ebff;
    --purple-color-2: #e7d0fb;
    --purple-color-3: #d5a4ff;
    --purple-color-4: #b25afd;
    --purple-color-5: #961bff;
    /*Default color*/
    --webdefault-color: #f8f8fc;
    /*Blue color*/
    --blue-color-1: #00ecff;
    --blue-color-2: #00d2ff;
    --blue-color-3: #03a0ff;
    --blue-color-4: #2f00ff;
    /*Red color*/
    --red-color-1: #ff2e00;
    --red-color-2: #d82700;
    /*Yellow color*/
    --yellow-color-1: #fff600;
    --yellow-color-2: #fce101;
    /*Green color*/
    --green-color-1: #3cff00;
    --green-color-2: #27db17;
   
}

*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Akshar', sans-serif;
    box-sizing: border-box;
}
    /*button default*/
    .button-2 {
        background-color: rgba(51, 51, 51, 0.05);
        border-radius: 8px;
        border-width: 0;
        color: #333333;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        margin: 0;
        padding: 10px 12px;
        text-align: center;
        transition: all 200ms;
        vertical-align: baseline;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

