.options-user {
    margin-top: 80px;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.options-user img{
    width:50px;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    
}
.options-user>*{
    text-align: center;
}
.option-for-user,back-to-home-user{
    width: 100%;
    height: fit-content;
}
.option-for-user>a{
    font-weight: 700;
    letter-spacing: 0.12rem;
    text-align: center;
    font-size: 1.4rem;
    padding: 9px !important;
}
.back-to-home-user{
    margin: 14px auto;
}
.back-to-home-user>a{
    font-size: 1.4rem;
    padding: 9px !important;

}