@*Thiết kế thêm cửa số bình luận đánh giá sản phẩm*@
<div class="Detail-Product">@*flex*@
    <div class="main-detail">
        <div class="main-detail-product">@*flex*@
            <div class="img-and-infomation-product">
                các hình ảnh của sản phẩm
            </div>
            <div class="name-and-reviews-product">
                Chứa tên và các 
            </div>
        </div>
        <div class="comment-of-product">

        </div>
    </div>
    <div class="policy-product">
       @* Chính sách giao hàng*@
    </div>
</div>