@*Thiết kế thêm cửa số bình luận đánh giá sản phẩm*@
<div class="Detail-Product">@*flex*@
    <div class="main-detail">
        <div class="main-detail-product">@*flex*@
            <div class="img-and-information-product">
                các hình ảnh của sản phẩm
            </div>
            <div class="name-and-reviews-product">
                Chứa tên và các thành phần khác
            </div>
        </div>
        <div class="comment-of-product">
            COmment của khác hàng
        </div>
    </div>
    <div class="policy-product">
        <div class="content-policy-product">
            <span style="font-weight:600;padding: 6px;">Miễn phí giao hàng</span>
            <hr class="style-hr" />
            -Miễn phí giao hàng cho đơn hàng trên 800k<br/>
            -Cam kết hàng chính hãng<br />
            -Đổi trả trong vòng 10 ngày<br/>
            <hr class="style-hr"/>
            Dịch vụ khác<br />
            Sửa chữa 150k<br />
            Vệ sinh máy tính, laptop tại nhà
        </div>
    </div>
</div>