@*Thiết kế thêm cửa số bình luận đánh giá sản phẩm*@
<div class="Detail-Product">@*flex*@
    <div class="main-detail">
        <div class="main-detail-product">@*flex*@
            <div class="img-and-information-product">
               <img class="img-detail-product" src="~/img/product/15-Laptop-Tot-nhat-2021-1.jpg"/>
               <div class="information-detail-product">
                   <b>Màn hình: </b>	14.0 inch, 1920 x 1080 Pixels, IPS, 60 Hz, Acer ComfyView Anti-glare LED-backlit<br/>
                   <b>CPU</b>	Intel, Core i5, 1135G7<br />
                   <b>RAM</b>	8 GB, DDR4, 2666 MHz<br />
                   <b>Ổ cứng</b>	SSD 512 GB<br />
                   <b>Đồ họa</b>	Intel Iris Xe Graphics<br />
                   <b>Hệ điều hành</b>	Windows 11 Home Single Language<br />
               </div>
                <a id="button-link-to-post" class="btn btn-success" href="#"><i class="bi bi-pencil-square"></i>Chi tiết bài viết</a>
            </div>
            <div class="name-and-reviews-product">
                <div class="name-detail-product">
                    Laptop Acer Spin 5 SP513-52N-556V (NX.GR7SV.004) (13.3" FHD/i5-8250U/8GB/UHD 620/Win10/1.5 kg)
                </div>
                <div class="reviews-detail-product">
                    <span>Đánh giá: </span>
                    <div class="review-star">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <span style="color:var(--purple-color-1);">Bình luận: </span><p>121</p>
                    <span style="color:var(--blue-color-1);"><i class="bi bi-eye"></i> </span><p>21321</p>
                </div>
            </div>
        </div>
        <div class="comment-of-product">
            COmment của khác hàng
        </div>
    </div>
    <div class="policy-product">
        <div class="content-policy-product">
            <span style="font-weight:600;padding: 6px;">Miễn phí giao hàng</span>
            <hr class="style-hr" />
            -Miễn phí giao hàng cho đơn hàng trên 800k<br/>
            -Cam kết hàng chính hãng<br />
            -Đổi trả trong vòng 10 ngày<br/>
            <hr class="style-hr"/>
            Dịch vụ khác<br />
            Sửa chữa 150k<br />
            Vệ sinh máy tính, laptop tại nhà
        </div>
    </div>
</div>