<div class="Main-Product-List">
    <div class="window-product">
        <div class="tab-search-product">
            <div class="input-search">
                <input placeholder="Tìm sản phẩm ...." />
            </div>
            <div class="button-search">
                <span>Sắp xếp theo: </span>
                <a class="option-search">Khuyến mãi</a>
                <a class="option-search">Giá cao</a>
                <a class="option-search">Giá thấp </a>
                <a class="option-search">Sản phẩm mới </a>
            </div>
        </div>
        <div class="Flex-Product">
            @for (int i = 0; i < 12; i++)
            {
                <div class="box-product flex-box">
                    @*box-product đã có trong SlideProduct.css*@
                    <div class="detail-box-product">
                        <span class="like-product-small"><i class="bi bi-heart"></i></span>
                        <img class="image-product-small" src="~/img/product/man-hinh-ips-va-tn-tren-laptop-khac-nhau-nhu-the-nao-uu-nhuoc-diem-moi-loai-va-cach-nhan-biet-4.jpg">
                        <div class="name-product-small">Laptop HP Gaming VICTUS 16-e0175AX R5 5600H/8GB/512GB/RTX 3050Ti 4GB/16.1" FHD/Win 11 </div>
                        <div class="price-product-small">30000000</div>
                        <a class="buynow-product-small button-29">Mua ngay</a>
                    </div>
                </div>
            }
        </div>
        <div class="flex-pagination">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>

            </ul>
            <div class="bar-pagination"></div>
        </div>
    </div>
    <div class="Image-Advertisement-3">
        <img src="~/img/product/acer.jpg" />
        <img src="~/img/product/Untitled3.png" />
    </div>
</div>


