<div class="Article-Product">
    <div class="Article-detail">
        <h1>Tên Laptop</h1>
        <p class="Article-content"></p>
        <img alt="Hình ảnh sản phẩm" src="~/img/product/15-Laptop-Tot-nhat-2021-1.jpg" />
    </div>
    <div class="table-Specifications">
        
    </div>
</div>
