@{ 
    Layout = "_Nshop2Layout";
}
<div class="Article-Product">
    <div class="Article-detail">
        <h1>Laptop Acer Spin 5 SP513-52N-556V (NX.GR7SV.004) (13.3" FHD/i5-8250U/8GB/UHD 620/Win10/1.5 kg)</h1>
        <p class="Article-content">
            Với mức giá khoảng 21,5 triệu đồng, Acer Spin 5 vượt mặt nhiều đối thủ cùng loại về giá cả nhưng có cấu hình mạnh mẽ với CPU Intel Core i5 thế hệ thứ 8, thiết kế đẹp, màn hình hiển thị tươi sáng, cùng bàn phím bấm rất thoải mái.
            Thiết kế
            Nhìn từ trên xuống, ta thấy Acer Spin 5 có thiết kế khá đơn giản, trông giống như một phiến kim loại hình chữ nhật làm bằng nhôm . Nhưng vỏ ngoài của chiếc laptop là làm bằng kim loại thực sự, bạn yên tâm bởi nó không phải “nhựa mạ bạc” đâu. Nhìn kĩ thì sẽ thấy mặt nắp của laptop có các viền sọc mờ xen kẽ,
            tạo độ nhám. Biểu tượng của Acer nằm ở chính giữa, trông khá phù hợp với nền xám của mặt nắp.
        </p>
        <img alt="Hình ảnh sản phẩm" src="~/img/product/15-Laptop-Tot-nhat-2021-1.jpg" />
    </div>
    <div class="table-specifications">
        <h2>Thông tin chi tiết</h2>
        <table class="specifications">
            <tr>
                <th></th>
                <th></th>

            </tr>
            <tr>
                <td>Thương hiệu</td>
                <td>Acer</td>

            </tr>
            <tr>
                <td>Bảo hành</td>
                <td>12 tháng</td>

            </tr>
            <tr>
                <td>Thế hệ CPU</td>
                <td>Intel Core i5-8250U ( 1.6 GHz - 3.4 GHz / 6MB / 4 nhân, 8 luồng )</td>

            </tr>
            <tr>
                <td>Chip đồ họa</td>
                <td>Intel UHD Graphics 620</td>

            </tr>
            <tr>
                <td>RAM</td>
                <td>8GB Onboard DDR4 2400MHz Không nâng cấp được )</td>

            </tr>
            <tr>
                <td>Màn hình</td>
                <td>13.3" ( 1920 x 1080 ) Full HD IPS cảm ứng , HD webcam</td>

            </tr>
        </table>
        <a id="return-product" class="button-37" asp-controller="Home" asp-action="DetailProduct">Quay lại sản phẩm</a>
    </div>
</div>
