@{
    Layout = "_NShopForUserLayout";
}
<div class="Main-Cart-Product">
    <div class="shopping-cart">
        <!-- Title -->
        <div class="title-cart">
            Shopping Bag
        </div>
        @for (int i = 0; i < 6; i++)
        {
            <!-- Product #1 -->
            <div class="item-product-cart">
                <div class="buttons-for-item-cart">
                    <span class="delete-btn"></span>
                    <span class="like-btn"></span>
                </div>

                <div class="image-item-cart">
                    <img style="width: 60px;" src="~/img/product/53013_mouse_logitech_g102_lightsync_rgb_white_0002_3.jpg" alt="" />
                </div>

                <div class="description-item">
                    <span>Common Projects</span>
                    <span>Bball High</span>
                    <span>White</span>
                </div>

                <div class="quantity-of-item">
                    <button class="plus-btn" type="button" name="button">
                        <img src="~/SVG/plus.svg" alt="" />
                    </button>
                    <input type="text" name="name" value="1">
                    <button class="minus-btn" type="button" name="button">
                        <img src="~/SVG/minus.svg" alt="" />
                    </button>
                </div>

                <div class="total-price-item">$549</div>
            </div>
        }
        <!-- Product #2 -->
        <!--<div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
            </div>

            <div class="image">
                <img src="item-2.png" alt="" />
            </div>

            <div class="description">
                <span>Maison Margiela</span>
                <span>Future Sneakers</span>
                <span>White</span>
            </div>

            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="plus.svg" alt="" />
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                    <img src="minus.svg" alt="" />
                </button>
            </div>

            <div class="total-price">$870</div>
        </div>-->
        <!-- Product #3 -->
        <!--<div class="item">
            <div class="buttons">
                <span class="delete-btn"></span>
                <span class="like-btn"></span>
            </div>

            <div class="image">
                <img src="item-3.png" alt="" />
            </div>

            <div class="description">
                <span>Our Legacy</span>
                <span>Brushed Scarf</span>
                <span>Brown</span>
            </div>

            <div class="quantity">
                <button class="plus-btn" type="button" name="button">
                    <img src="plus.svg" alt="" />
                </button>
                <input type="text" name="name" value="1">
                <button class="minus-btn" type="button" name="button">
                    <img src="minus.svg" alt="" />
                </button>
            </div>

            <div class="total-price">$349</div>
        </div>-->
    </div>
    <div class="panel-payment">
       <div class="address-for-deliver">
           <h2>Giao tới</h2>
           <a href="#" class="change-address">Thay đổi</a>
           <p>Tên người dùng<span class="vertical-line"></span>098369369396</p>
           <textarea disabled class="address-content" cols="4" rows="4">
                sdsadasfsadsadssafsafsafsafsfa
            </textarea>
       </div>
        <div class="code-promotion">
            <p>Nhập mã khuyến mãi</p>
            <input type="text" class="form-control input-promotion" placeholder="Nhập mã giảm giá ...." />
            <button class="btn btn-info apply-code-promotion">Áp dụng</button>
        </div>
        <div class="label-provisional-price">
            <h3>Thanh toán</h3>
            <p style="color:grey">Tạm tính  &emsp;</p><p>36.000.000đ</p><br/>
            <p style="color:grey">Thành tiền  &emsp;</p><p style="color: var(--red-color-2);font-size:1.8rem;font-weight:600;">36.000.000đ</p><br/>
            <p style="color:grey;">(Đã bao gồm VAT)</p>
        </div>
        <a asp-action="CheckOutForm" asp-controller="Transaction"  class="button-9 btn-payment">Thanh toán</a>
        <a asp-action="index" asp-controller="Home" class="button-83 btn-payment">Quay lại cửa hàng</a>

    </div>
</div>
