@{ 
    Layout = "_NshopForUserLayout";
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/SignIn.css" />
</head>
<section class="register-account">
    <div class="signform">
        <div class="left">
            <a href="#" style="float:right;margin-right:35px;font-size: 0.9em;" class="bts-a">Bạn chưa có tài khoản? Hãy đăng ký!</a>
            <div class="bts">
                <a href="#" class="fblogin social"><i class="bi bi-facebook"></i><span>Sign in with Facebook</span></a>
                @*<a href="#" class="twlogin social"><i class="bi bi-twitter"></i><span>Sign in with Twitter</span></a>*@
                <a href="#" class="gplogin social"><i class="bi bi-google"></i><span>Sign in with Google</span></a>
            </div>
        </div>
        <div class="right">
            <div class="headit">
                <h2>Đăng nhập tài khoản</h2>
            </div>
            <div class="form">
                <form class="login-form" id="login-form">
                    <input type="text" placeholder="Tên tài khoản ..." />
                    <input type="password" placeholder="Mật khẩu ..." />
                    <input class="subbt" type="submit" value="Sign In"  style="border:none;" />
                </form>
                <input type="checkbox" id="remember" name="remember"><span style="color:#b6b6b6;font-size: 0.9em;"> Ghi nhớ đăng nhập.</span><a href="#">Quên tài khoản?</a>
            </div>
        </div>
    </div>
</section>