@{ 
    Layout = "_NShop2Layout";
}
<div id="login-box">
    <div class="left-login-box">
        <h1>Đăng ký</h1>

        <input type="text" name="username" placeholder="Tên tài khoản" />
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="password2" placeholder="Nhập lại password" />

        <input type="submit" name="signup_submit" value="Sign me up" />
    </div>

    <div class="right-login-box">
        <span class="loginwith">Đăng nhập bằng<br />Tài khoản mạng xã hội</span>
        <button class="social-signin facebook">Đăng nhập bằng facebook</button>
        @*<button class="social-signin twitter">Đăng  Twitter</button>*@
        <button class="social-signin google">Đăng nhập bằng Google+</button>
    </div>
    <div class="or">OR</div>
</div>